{{define "title"}}About{{end}}

{{define "main"}}
    <h2>About</h2>

    <p>Based on Alex Edward's <a href="https://lets-go.alexedwards.net/" target="_blank">Let's Go</a> book.</p>
    <p>


Our application will start off super simple, with just one web page. Then with each chapter we’ll build it up step-by-step until a user can save and view snippets via the app. This will take us through topics like how to structure a project, routing requests, working with a database, processing forms and displaying dynamic data safely.
    </p>
{{end}}
